# Python
__pycache__/
*.pyc
.venv/
venv/

# Virtual Environment
.venv/
venv/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Helm
charts/

# Kubernetes
*.kubeconfig

# Test Reports
coverage/
htmlcov/

# Misc
*.tmp
